In [53]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.jp-WindowedPanel-outer.lm-Widget{padding:5px;}
div.lm-Widget{width:100%;font-size:19pt;}
div.cm-content {font-family:Consolas; font-size:17pt;}
div.jp-OutputArea-output pre {font-size:19pt; font-weight:bold;}
input.jp-Stdin-input {font-family:Consolas; font-size:19pt;}
</style>
"""))

<font size="8" color="red"><b>ch02. 자료형과 연산자</b></font>

# 1절. 변수
## 1.1 변수선언
    - 별도의 변수 선언과정 없음
## 1.2 변수 할당
    - 대입연산자(=) 사용

In [7]:
import numpy as np
print('제공되는 pi값은', np.pi)
r = 5
area = np.pi * r * r
# printf("계산된 넓이는 %lf", area)
print("계산된 넓이는", area)
print('area타입은', type(area) )
print('area 주소는', id(area))

제공되는 pi값은 3.141592653589793
계산된 넓이는 78.53981633974483
area타입은 <class 'float'>
area 주소는 1273592635920

In [8]:
area = 10
print("area 값은", area)
print('area타입은', type(area) )
print('area 주소는', id(area))

area 값은 10
area타입은 <class 'int'>
area 주소는 140727940924488

In [9]:
area = '파이썬은 좋아요'
print("area 값은", area)
print('area타입은', type(area) )
print('area 주소는', id(area))

area 값은 파이썬은 좋아요
area타입은 <class 'str'>
area 주소는 1273563428880

## 1.3 변수이름 규칙
    - 문자(특수문자는 _제외하고 안됨), 숫자, _로 명명.
    - 문자로 시작
    - 파이썬에서 제공되는 기본 함수명 피하자. 꼭 써야한다면 int_식으로 _를 붙임
    - 파이썬 예약어는 변수명 불가(ex. if)

In [10]:
불용어 = '북한'
불용어

'북한'

In [11]:
if = 4

SyntaxError: invalid syntax (1720054281.py, line 1)

In [12]:
print(불용어)

북한

In [18]:
# 파이썬 변수는 함수 할당
print = 5

In [19]:
print(불용어)

TypeError: 'int' object is not callable

In [20]:
del print # print 변수 삭제

In [21]:
print(불용어)

북한

In [22]:
i = 3 + 3j # 복소수
type(i)

complex

In [23]:
a = 10
b = 20

In [24]:
a, b = 10, 20 # 다중 선언

In [25]:
a, b

(10, 20)

In [26]:
a, b = b, a+b # 다중 선언
print('a=',a,'\t b=', b)

a= 20 	 b= 30

## 1.4 도움말

In [27]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [28]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [30]:
# 도움말 기능 : 함수내에서 shift+tab키
print('a','b', sep='~')

a~b

In [31]:
def make_number(x, y=0):
    """doc string(함수의 도움말)
    매개변수 2개를 이용해서 2자리 정수를 만들어요
    x = 10의 자리수
    y = 1의 자리수 (default값 0)
    """
    return x*10 + y

In [32]:
make_number(3, 2)

32

In [33]:
make_number(5)

50

In [34]:
make = make_number # 함수를 변수에 할당

In [35]:
make(6)

60

## 1.5 변수 삭제

In [36]:
del make

In [37]:
make(6)

NameError: name 'make' is not defined

# 2절 화면 I/O

In [44]:
first = int(input('첫번째 숫자는?')) # 문자로 return
second = int(input('두번째 숫자는?'))

첫번째 숫자는? 20
두번째 숫자는? 1

In [45]:
print('두수의 합은 {}'.format(first+second)) #문자+문자

두수의 합은 21

In [48]:
print('Hello', 'world', sep='~', end=', ')
print('Hello', 'Python')

Hello~world, Hello Python

# 3. 기본 자료형
    - 숫자 : int, float, complex
    - 문자 : str
    - 논리 : bool
    파이썬은 타입을 지칭하는 키워드가 없고, 변수 할당시 타입이 정해져

## 3.1 숫자형

In [49]:
import sys
print(sys.maxsize) # 모든 크기의 정수를 다 처리 가능

9223372036854775807

In [50]:
a = sys.maxsize + 10
print("값:{} / 주소:{}".format(a, id(a)))
print(type(a))

값:9223372036854775817 / 주소:1273606319072
<class 'int'>

In [51]:
a = 1
print("값:{} / 주소:{}".format(a, id(a)))
print(type(a))

값:1 / 주소:140727940924200
<class 'int'>

In [52]:
a = 3/2 # 정수형/정수형 => 실수형(float)
print("값:{} / 주소:{}".format(a, id(a)))
print(type(a))

값:1.5 / 주소:1273591188304
<class 'float'>

In [54]:
a = int(3/2)# C언어 결과처럼하고자 하면 명시적 형변환
a = 3 // 2 # C언어 결과처럼하고자 하면 몫연산자
print("값:{} / 주소:{}".format(a, id(a)))
print(type(a))

값:1 / 주소:140727940924200
<class 'int'>

In [56]:
f = 1.12e20  # 1.12의 10의 20승
print(f)
f = 1.12e-20 # 1.12의 10의 -20
print(f)

1.12e+20
1.12e-20

## 3.2 문자형

In [58]:
name = "홍길동'님'"
name = '홍길동"님"'
address = "서울시 \"금천구\"  \
가산디지털1로"
# \ 다음줄로 계속
print(name, address)

홍길동"님" 서울시 "금천구"  가산디지털1로

In [60]:
text = "안녕하세요\n홍길동입니다\n반갑습니다"
print(text)

안녕하세요
홍길동입니다
반갑습니다

In [61]:
text = """안녕하세요
홍길동입니다
반갑습니다
"""
print(text)

안녕하세요
홍길동입니다
반갑습니다

In [62]:
# 문자열 슬라이싱

In [66]:
str_ = "0123456789"
str_

'0123456789'

In [69]:
str_[0:3] # 0번째부터 3번째 앞까지

'012'

In [71]:
str_[-2] # 음수인덱스는 뒤에서부터

'8'

In [72]:
str_ = "0123456789"
str_[-5:-1]

'5678'

In [73]:
str_[5:] # 5번째인덱스부터 끝까지

'56789'

In [74]:
str_[:-5] # 처음부터 -5번째 앞까지

'01234'

In [76]:
# str_[19] #없는 인덱스는 에러남
str_[5:19] # 슬라이싱에서는 인덱스를 벗어나면 끝까지

'56789'

In [77]:
# str_[from:to:step]
print(str_[0:9:2]) # 0번째부터 9번째 앞까지 2씩 인덱스 증가해서 
print(str_[::2])   # 처음부터 끝까지 2씩 인덱스 증가해서

02468
02468

In [79]:
# 끝부터 처음까지(꺼꾸로)
print(str_[9::-1])
print(str_[::-1])

9876543210
9876543210

## 3.3 논리형(True, False)

In [81]:
a = True
print(a)
print(type(a))
print(isinstance(a, bool)) # a가 bool형이냐?

True
<class 'bool'>
True

In [ ]:
# False로 간주하는 것 : 0, None, ""(빈스트링) ''(빈스트링), [], (), {}
# True로 간주하는 것 : " ", '\0'(널문자)

In [87]:
if 0+0j:
    print('True다')
else:
    print('False다')

False다

## 3.4 자료형 확인 및 변환
    - type() : 자료형 확인
    - int() : 정수형 변환
    - float() : 실수형 변환
    - str() : 문자형 변환
    - bool() : 논리형 변환

In [89]:
int(' ')

ValueError: invalid literal for int() with base 10: ' '

In [90]:
int('2,000')

ValueError: invalid literal for int() with base 10: '2,000'

In [91]:
float(True)

1.0

# 4절 포맷팅

In [102]:
name = "홍길동"
add = '서울시 금천구'
print("이름은 {0}, 주소는 {1}".format(name, add))

이름은 홍길동, 주소는 서울시 금천구

In [98]:
print("이름은 %s, 주소는 %s"%(name, add))

이름은 홍길동, 주소는 서울시 금천구

In [100]:
print(f"이름은 {name}, 주소는 {add}")

이름은 홍길동, 주소는 서울시 금천구

format()함수
```
- "{[인덱스]:[공백대체문자][정렬방법][자릿수][타입]}".format(변수명,...)
      - 정렬방법 : <(왼쪽정렬), >(오른쪽 정렬), ^(가운데정렬)
      - 타입 : d(10진수), x(16진수), b(2진수), f(실수), s(문자)
```

In [104]:
a = 10
s = 'Hello'
print(" [{0:$>10d}], [{1:*<20.2}]".format(a, s) )

 [$$$$$$$$10], [He******************]

# 5절 연산자
## 5.1 산술연산자 : + - / * //(몫) %(나머지) **(제곱)
## 5.2 할당연산자 : = += -= /= %= ..
## 5.3 논리연산자 &, and, |, or, not (연산자 우선순위가 높음)
## 5.4 비트연산자 &, |, ^(OR) (연산자 우선순위가 높음)

In [105]:
print( (10>3) & (10>5) ) # 논리 연산자  True & True

True

In [106]:
print( 12 & 1 ) # 비트연산 12 : 1 1 0 0
                #           1 : 0 0 0 1
print( 12 | 1)

0
13

## 5.5 비교연산자 > >= < <= == !=

In [109]:
'아'<'하'

True

In [110]:
'*' < '1' < 'A' < 'a' # 코드 순 : 특수문자<숫자<대문자<소문자

True

In [112]:
score = 85
80<=score <90 < 100

True

# 6절 문자열 다루기
    - 문자열 슬라이싱 : 문자변수[from:to:step]
    - len(문자열) : 문자갯수
    - upper() : 대문자로
    - lower() : 소문자로
    - title() : 각 단어의 앞글자만 대문자로
    - capitalize() : 첫문자만 대문자로. 그외는 소문자
    - count('찾을문자열') : 찾을 문자열이 몇개 들어있는지 갯수 반환
    - find('찾을문자열') : 찾을문자열을 왼쪽부터 시작하여 몇번째에 있는지 index반환
                    찾을문자열이 없으면 -1을 반환
    - rfind('찾을문자열') :찾을문자열을 오른쪽부터 시작하여 몇번째에 있는지 index반환
    - startswith('특정문자열') : 특정문자열로 시작하는지 여부 T/F 반환
    - endswith('특정문자열') : 특정문자열로 끝나는지 여부 T/F 반환
    - strip() : 좌우 공백제거
    - lstrip() : 왼쪽 공백제거
    - rstrip() : 오른쪽 공백제거
    - isdigit() : 문자열이 숫자 문자열인지 여부 T/F 반환
    - islower() : 문자열이 소문자인지 여부 T/F반환
    - isupper() : 문자열이 대문자인지 여부 T/F 반환
    - replace(oldStr, newStr) oldStr을 newStr 변경

In [115]:
# 문자열을 다룰수 있는 함수 목록
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [116]:
temp = 'Python is easy. Python is smart.'
#       01234567890123456789012345678901
temp.upper(), len(temp)

('PYTHON IS EASY. PYTHON IS SMART.', 32)

In [118]:
print("첫번째 글자:{}, 마지막글자:{}".format(temp[0], temp[-1]))

첫번째 글자:P, 마지막글자:.

In [126]:
temp = 'Python is easy. Python is smart.'
#       01234567890123456789012345678901
print('대문자로:', temp.upper() )
print('첫글자만대문자:', temp.capitalize())
print('title() :', temp.title())
print('count() :', temp.count('Python'))
print('find() :', temp.find('Python'))
print('rfind() :', temp.rfind('Python'))
print("replace('Python', ' ') :", temp.replace("Python"," "))
print("startswith() :", temp.startswith("Py"))

대문자로: PYTHON IS EASY. PYTHON IS SMART.
첫글자만대문자: Python is easy. python is smart.
title() : Python Is Easy. Python Is Smart.
count() : 2
find() : 0
rfind() : 16
replace('Python', ' ') :   is easy.   is smart.
startswith() : True

In [131]:
temp = "      Python      "
print(" temp : [{}]".format(temp))
print("strip : [{}]".format(temp.strip()))
print("lstrip: [{}]".format(temp.lstrip()))
print("rstrip: [{}]".format(temp.rstrip()))

 temp : [      Python      ]
strip : [Python]
lstrip: [Python      ]
rstrip: [      Python]

In [132]:
temp = 'Python is easy Python is smart'
print('space단위로 분리하여 list로 반환 :', temp.split())

space단위로 분리하여 list로 반환 : ['Python', 'is', 'easy', 'Python', 'is', 'smart']

In [135]:
temp = "2024-05-30"
temp_list = temp.split('-')
temp_join = '~'.join(temp_list)
print('년월일 분리 :', temp_list)
print('연결된 temp :', temp_join)

년월일 분리 : ['2024', '05', '30']
연결된 temp : 2024~05~30

# 7절. 날짜 다루기
## 7.1 날짜

In [136]:
from datetime import date
someday = date(2024, 5, 30)
someday

datetime.date(2024, 5, 30)

In [138]:
print("{:%Y년%m월%d일 %H시 %M분}".format(someday))

2024년05월30일 00시 00분

In [139]:
today = date.today() # 오늘
print("{:%Y년%m월%d일 %H시 %M분}".format(someday))

2024년05월30일 00시 00분

## 7.2 시간

In [141]:
from datetime import datetime
now = datetime.today()
print("{:%Y년%m월%d일 %H시 %M분}".format(now))

2024년05월30일 12시 47분

# 8절 연습문제

In [1]:
# 1. [출력형식 : 홍길동님의 나이는 23살입니다]
name = input('이름 >')
age = int(input('나이 > '))
print('{}님의 나이는 {}살입니다'.format(name, age))
print('%s님의 나이는 %d살입니다'% (name, age))
print(f'{name}님의 나이는 {age}살입니다')

이름 > 홍길동
나이 >  23

홍길동님의 나이는 23살입니다
홍길동님의 나이는 23살입니다
홍길동님의 나이는 23살입니다

In [16]:
# 2. 두 정수를 입력받아 두 수의 덧셈, 뺄셈, 곱셈, 나눗셈, 몫, 나머지를 출력하세요
num1 = int(input('첫번째 수'))
num2 = int(input('두번째 수'))
print('num1 + num2 = ', (num1+num2))
print('num1 - num2 = ', (num1-num2))
print('num1 * num2 = ', (num1*num2))
try:
    print('num1 / num2 = ', (num1/num2))
    print('num1 // num2 = ', (num1//num2))
    print('num1 % num2 = ', (num1%num2))
except ZeroDivisionError:
    print("떼끼")

첫번째 수 10
두번째 수 0

num1 + num2 =  10
num1 - num2 =  10
num1 * num2 =  0
떼끼

In [2]:
# 2. 두 정수를 입력받아 두 수의 덧셈, 뺄셈, 곱셈, 나눗셈, 몫, 나머지를 출력하세요
num1 = int(input('첫번째 수'))
num2 = int(input('두번째 수'))
print('num1 + num2 = ', (num1+num2))
print('num1 - num2 = ', (num1-num2))
print('num1 * num2 = ', (num1*num2))
try:
    print('num1 / num2 = ', (num1/num2))
    print('num1 // num2 = ', (num1//num2))
    print('num1 % num2 = ', (num1%num2))
except Exception :
    print('두번째 수에 0을 입력하여 나누기 연산이 불가합니다')

첫번째 수 12
두번째 수 10

num1 + num2 =  22
num1 - num2 =  2
num1 * num2 =  120
num1 / num2 =  1.2
num1 // num2 =  1
num1 % num2 =  2

In [3]:
# 3.‘Hello World’를 ‘World Hello’로 출력
str = 'Hello world'
print(str[-5:],str[:5])
splited_str = str.split()
print(splited_str[1], splited_str[0])

world Hello
world Hello

In [4]:
print(splited_str[::-1])
print(' '.join(splited_str[::-1]))

['world', 'Hello']
world Hello

In [5]:
# 4. x = 'abcdef＇를 이용하여 ‘bcdefa’로 출력하세요
x='abcdef'
print(x[1:]+x[0])
print(x[1:], x[0], sep='')

bcdefa
bcdefa

In [6]:
# 5. x = ‘abcdef’를 이용하여 ‘fedcba’로 출력
x = 'abcedf'
print(x[::-1])

fdecba

In [7]:
# 6.섭씨온도로 입력받아 화씨 온도로 변환
c = int(input('섭씨 온도를 입력하세요'))
f = (c*1.8)+32
if f==round(f):
    print('섭씨 {}도는 화씨온도로 바꾸면 {:.0f}도입니다'.format(c, f))
else:
    print('섭씨 {}도는 화씨온도로 바꾸면 {:.2f}도입니다'.format(c, f))

섭씨 온도를 입력하세요 26

섭씨 26도는 화씨온도로 바꾸면 78.80도입니다

In [8]:
# 7 (2)

In [9]:
# 8 
text = "Seoul A001 - programming with python"
print(text[:4] + text[-1] + text.split()[0])
print(text[:4], text[-1], text.split()[0])

SeounSeoul
Seou n Seoul

In [10]:
# 9 (2)