In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.jp-WindowedPanel-outer.lm-Widget{padding:5px;}
div.lm-Widget{width:100%;font-size:19pt;}
div.cm-content {font-family:Consolas; font-size:17pt;}
div.jp-OutputArea-output pre {font-size:19pt; font-weight:bold;}
input.jp-Stdin-input {font-family:Consolas; font-size:19pt;}
</style>
"""))

<font size="7" color="red"><b>ch03. 데이터 구조</b></font>
- 리스트 [], 튜플 (), 딕셔너리{구조체와 유사}, 셋(집합)

# 1절 리스트
## 1.1 리스트 만들기
 - [] 이용
 - 인덱스 :0부터 시작. -1은 맨 마지막 인덱스
 - 슬라이싱([from:to:Step])을 이용하여 추출

In [2]:
fruits = ['banana', 'apple','orange','grape',0]
type(fruits)

list

In [3]:
print(fruits)

['banana', 'apple', 'orange', 'grape', 0]

In [4]:
print(fruits[0])

banana

In [5]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape', 0]

In [6]:
# ★
for fruit in fruits:
    print(fruit)

mango
apple
orange
grape
0

In [ ]:
for(int i=0 ; i<5 ; i++){
    printf("%d번째 %d\n", i, fruits[i])
}

In [10]:
range(5)

range(0, 5)

In [13]:
len(fruits) # list fruits 요소의 갯수

5

In [14]:
list(range(len(fruits)))

[0, 1, 2, 3, 4]

In [16]:
for i in range(len(fruits)):
    print("{}번째 과일은 {}".format(i, fruits[i]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 grape
4번째 과일은 0

In [17]:
# ★
for idx, value in enumerate(fruits):
    print("{}번째 과일은 {}".format(idx, value))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 grape
4번째 과일은 0

## 1.2 기본정보 조회

In [19]:
numbers = [1,2,3,4,5]
print("요소의 수 :", len(numbers))
print("최소값 :", min(numbers))
print("최대값 :", max(numbers))

요소의 수 : 5
최소값 : 1
최대값 : 5

## 1.3 요소 추가

In [20]:
# + 두 리스트를 연결
# 리스트*n : 리스트를 n만큼 반복
# append() : 요소 뒤에 추가
# extend() : 리스트의 요소별로 뒤에 추가

In [21]:
numbers = [1,2,3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [22]:
numbers = [1,2,3]
print(numbers * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [23]:
numbers.append(4)

In [24]:
numbers

[1, 2, 3, 4]

In [25]:
numbers = [1,2,3,4]
num = [5,6]
# numbers를 [1,2,3,4,5,6] vs [1,2,3,4, [5,6]]
numbers.append(num)
numbers

[1, 2, 3, 4, [5, 6]]

In [26]:
numbers = [1,2,3,4]
num = [5,6]
# numbers를 [1,2,3,4,5,6] vs [1,2,3,4, [5,6]]
numbers.extend(num)
numbers

[1, 2, 3, 4, 5, 6]

In [27]:
numbers = [1,2,3,4]
numbers.append("hello")
numbers

[1, 2, 3, 4, 'hello']

In [28]:
numbers = [1,2,3,4]
numbers.extend("hello")
numbers

[1, 2, 3, 4, 'h', 'e', 'l', 'l', 'o']

## 1.4 인덱싱
- index(찾고자하는 값, 1) : 찾고자하는 값이 1번인덱스부터 찾아 그 위치를 반환
- count(찾고자하는 값) : 찾고자하는 값이 몇번나오는지 counter

In [30]:
numbers = [1,2,3, [1,2,3], 1,2,3]
print("2가 몇개인지 : {}".format(numbers.count(2)))
print("4가 몇개인지 : {}".format(numbers.count(4)))

2가 몇개인지 : 2
4가 몇개인지 : 0

In [31]:
2 in numbers # numbers안에 2가 있는지 여부

True

In [32]:
numbers.index(2, 3) #3번째인덱스부터 2가 처음 나오는 인덱스를 반환

5

## 1.5 리스트의 원하는 내용만 추출
- 슬라이싱 [from:to:step]을 이용 ; 원하는 인덱스의 값 추출
- 리스트 컴프리헨션을 이용 ; 원하는 데이터만 추출

In [33]:
numbers  = [1,3,5,9,10,12,13,18,19,20]
numbers[::-1]

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]

In [35]:
numbers[::2] # 인덱스가 짝수인 값을 추출

[1, 5, 10, 13, 19]

In [36]:
# 값이 짝수인 데이터만 추출
result = []
for num in numbers: #[1,3,5,9,10,12,13,18,19,20]
    if num%2 == 0:
        result.append(num)
result

[10, 12, 18, 20]

In [37]:
#리스트 컴프리헨션
result = [num for num in numbers if num%2==0]
result

[10, 12, 18, 20]

In [39]:
# numbers 리스트의 제곱값을 리스트로 생성하여라(컴프리헨션이용)
numbers = [1,3,5]
result = [num**2 for num in numbers]
result

[1, 9, 25]

In [40]:
# 과일의 글자가 5글자 이상인 과일 추출하세요
fruits = ["orange","apple", "mango","kiwi"]
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', 'mango']

In [41]:
# 과일의 글자가 5글자 이상인 과일의 글자수를 출력하세요
[len(f) for f in fruits if len(f)>=5]

[6, 5, 5]

## 1.6 삭제하기
- remove(data) : 해당 data가 제거
- del 리스트변수[idx] : idx번째 요소 제거
- pop() : 가장 마지막 인덱스 요소가 return 되고 삭제

In [48]:
numbers = [1,2,3,4]
print(numbers.pop())
print(numbers)

4
[1, 2, 3]

In [49]:
numbers.remove(1)
print(numbers)

[2, 3]

In [50]:
numbers.remove(9) #없는 데이터 remove시 에러

ValueError: list.remove(x): x not in list

In [51]:
del numbers[0]
print(numbers)

[3]

In [52]:
del numbers

In [53]:
numbers

NameError: name 'numbers' is not defined

## 1.7 정렬하기

In [54]:
numbers = [9,10,1,5,5]
numbers.sort() #오름차순 정렬
numbers

[1, 5, 5, 9, 10]

In [55]:
numbers = [9,10,1,5,5]
numbers.sort(reverse=True) #내림차순 정렬
numbers

[10, 9, 5, 5, 1]

## 1.8 리스트 복제

In [56]:
numbers = [6,1,2]
new_numbers = numbers; # 얕은 복사
numbers.sort()
print('정렬전 데이터 :', new_numbers)
print('정렬후 데이터 :', numbers)

정렬전 데이터 : [1, 2, 6]
정렬후 데이터 : [1, 2, 6]

In [ ]:
numbers = [6,1,2]
new_numbers = numbers.copy(); # 깊은 복사
numbers.sort()
print('정렬전 데이터 :', new_numbers)
print('정렬후 데이터 :', numbers)

# 2절. 튜플
- 리스트와 유사하지만 읽기전용
- () 이용해서 생성

In [57]:
city = ('서울','부산','광주','대전')
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '광주', '대전')

In [58]:
'~'.join(city)

'서울~부산~광주~대전'

In [60]:
list_ = ['서울']
type(list_)

list

In [62]:
t = ('서울', ) #요소가 하나인 튜플은 뒤에 컴마(,) 필수
type(t)

tuple

# 3절 딕셔너리
- 구조체와 유사
- {}를 이용해서 생성. key-value쌍으로 구성
- value(값)은 중복 가능하나 key는 중복 불가
- index를 이용한 참조 불가

In [64]:
dic = {'name':'홍길동', 'address':'서울시 금천구'}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 'address': '서울시 금천구'}

In [68]:
dic['name'], dic['address']

('홍길동', '서울시 금천구')

In [69]:
dic['score']

KeyError: 'score'

In [71]:
dic.get('name'), dic.get('address'), dic.get('score')

('홍길동', '서울시 금천구', None)

In [74]:
# 수정
dic['score'] = 100
dic['sport'] = 'sleep'
print(dic)

{'name': '홍길동', 'address': '서울시 금천구', 'score': 100, 'sport': 'sleep'}

In [75]:
dic.pop('sport')

'sleep'

In [76]:
dic

{'name': '홍길동', 'address': '서울시 금천구', 'score': 100}

In [81]:
# 리스트(튜플, 셋)방식으로 for문 사용하면 key만 출력
for key in dic:
    print(key)
for idx, value in enumerate(dic):
    print(idx, value)

name
address
score
0 name
1 address
2 score

In [82]:
dic.keys()

dict_keys(['name', 'address', 'score'])

In [83]:
dic.values()

dict_values(['홍길동', '서울시 금천구', 100])

In [84]:
dic.items() # ★★★★★

dict_items([('name', '홍길동'), ('address', '서울시 금천구'), ('score', 100)])

In [85]:
for data in dic.values():
    print(data)

홍길동
서울시 금천구
100

In [86]:
for key, value in dic.items():
    print("{} : {}".format(key, value))

name : 홍길동
address : 서울시 금천구
score : 100

In [87]:
l = ['a','b','c']
'c' in l

True

In [88]:
dic = {'name':'홍길동', 'score':100}
'name' in dic

True

In [89]:
'홍길동' in dic

False

In [90]:
len(dic) #데이터 갯수

2

# 4절. 셋
- 중복을 허용하지 않는 집합(순서x = 인덱스X)

In [94]:
fruits = {'apple', 'orange', 'banana', 'banana', 0, 0}
print(fruits)
print(type(fruits))

{0, 'orange', 'banana', 'apple'}
<class 'set'>

In [95]:
fruits.add('kiwi')
print(fruits)

{0, 'banana', 'kiwi', 'apple', 'orange'}

In [96]:
fruits.add('banana')
print(fruits)

{0, 'banana', 'kiwi', 'apple', 'orange'}

In [97]:
for i, value in enumerate(fruits):
    print("{}:{}".format(i, value))

0:0
1:banana
2:kiwi
3:apple
4:orange