In [10]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.jp-WindowedPanel-outer.lm-Widget{padding:5px;}
div.lm-Widget{font-size:15pt;}
div.cm-content {font-family:Consolas; font-size:17pt;}
div.jp-OutputArea-output pre {font-size:19pt; font-weight:bold;}
input.jp-Stdin-input {font-family:Consolas; font-size:19pt;}
</style>
"""))

<font size="6" color="red"><b>ch05. 함수</b></font>
- 반복해서 사용할 코드를 묶어서 구현해 놓은 것
- 같은 이름의 함수는 덮어씀(오버로딩 불가)
- 함수 정의(구현)
  ```
    def 함수명([인수1, 인수2, ...]):
      명령어1
      명령어2
      ...
  ```

# 1절. 함수의 정의 및 사용(호출)
## 1.1 함수정의

In [9]:
def my_hello(x, msg): # 함수정의
    for i in range(x):
        print(i, msg)

In [3]:
my_hello(4, '쉬는 시간입니다') # 함수 호출

0 쉬는 시간입니다
1 쉬는 시간입니다
2 쉬는 시간입니다
3 쉬는 시간입니다

In [4]:
type(my_hello)

function

In [6]:
my_hello = 10
type(my_hello)

int

In [10]:
def my_hello(x): # 함수정의
    for i in range(x):
        print(i, "함수는 복습 필수")

In [12]:
my_hello(4)

0 함수는 복습 필수
1 함수는 복습 필수
2 함수는 복습 필수
3 함수는 복습 필수

In [17]:
def my_add(num1, num2, num3=0): # num3은 기본값을 갖는 인수
                    # 기본값을 갖는 인수는 순서인수 뒤에
    return num1 + num2 + num3
print(my_add(1, 2, 3))
print(my_add(1,2))

6
3

## 1.2 docstring
- 함수 도움말 (shift+tab로 볼 수 있음)

In [18]:
def fibonacci(n):
    """"
    인수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. 인수로 10 : 0, 1, 1, 2, 3, 5, 8
    ex. 인수로  5 : 0, 1, 1, 2, 3
    """
    a, b = 0, 1
    while a<n:
        print(a, end=". ")
        a, b = b, a+b
    print() # 개행

In [19]:
fibonacci(100)

0. 1. 1. 2. 3. 5. 8. 13. 21. 34. 55. 89.

In [20]:
type(fibonacci)

function

In [21]:
fibonacci

In [22]:
__name__

'__main__'

In [23]:
if __name__ == '__main__':
    fibonacci(100)

0. 1. 1. 2. 3. 5. 8. 13. 21. 34. 55. 89.

In [42]:
import fibonacci as fibo# fibonacci.py가 해석되서 메모리 로드

In [44]:
fibo.fibonacci(100)

0. 1. 1. 2. 3. 5. 8. 13. 21. 34. 55. 89.

## 1.3 지역변수(local var)와 전역변수(global var)

In [29]:
global_var = 100 # 전역변수
def func1():
    print(global_var)
func1()
print(global_var)

100
100

In [31]:
def func2():
    local_var = 100 # 지역변수 : 함수내에서만 사용 가능한 변수
    print(local_var)
func2()

100

In [32]:
local_var

NameError: name 'local_var' is not defined

In [33]:
g_var = 100 # 전역변수
def func3():
    g_var = 200 # 지역변수 선언
    print(g_var)
func3()

200

In [34]:
g_var

100

## 4.1 Lexical 특성

In [35]:
g_var = 100 # 전역변수
def func3():
    print(g_var)
    g_var = 200 # 지역변수 선언
    print(g_var)
func3()

UnboundLocalError: cannot access local variable 'g_var' where it is not associated with a value

## 1.5 전역변수 수정

In [40]:
g_var = 100 # 전역변수
def func3():
    global g_var # 함수내에서의 g_var는 전역변수를 쓸거야
    print(g_var)
    g_var = 200 # 전역변수에 값을 할당
    print(g_var)
func3()

100
200

In [39]:
g_var

200

## 1.6 값에 의한 호출 (call by value)
- 함수에 인수로 전달되는 변수가 스칼라 변수(숫자, 문자, 논리)일 경우

In [41]:
foo = 'ab' #스칼라 변수
id(foo)

2187939483952

In [46]:
def func1(f):
    print("Before : {}의 주소는 {}".format(f, id(f) ) )
    f *= 3 # 매개변수는 지역변수
    print("after : {}의 주소는 {}".format(f, id(f) ) )
func1(foo)
print("함수 호출 후 foo : {}의 주소는 {}".format(foo, id(foo) ) )

Before : ab의 주소는 2187939483952
after : ababab의 주소는 2188019500400
함수 호출 후 foo : ab의 주소는 2187939483952

## 1.7 참조에 의한 호출(call by reference)
- 함수에 전달되는 인수가 리스트, 딕셔너리, 셋일 경우

In [47]:
L = [1,2,3]
print("L의 내용은 {}, 주소는 {}".format(L, id(L) ) )

L의 내용은 [1, 2, 3], 주소는 2188019344704

In [48]:
def func2(f):
    print("함수 내 befer : L의 내용은 {}, 주소는 {}".format(L, id(L) ) )
    f.append(4)
    print("함수 내 after : L의 내용은 {}, 주소는 {}".format(L, id(L) ) )
func2(L)
print("L의 내용은 {}, 주소는 {}".format(L, id(L) ) )

함수 내 befer : L의 내용은 [1, 2, 3], 주소는 2188019344704
함수 내 after : L의 내용은 [1, 2, 3, 4], 주소는 2188019344704
L의 내용은 [1, 2, 3, 4], 주소는 2188019344704

# 2절. 함수의 실행결과를 반환하는 return
- 여러 개의 값을 반환할 수 있다(하나의 튜플로 반환)

In [50]:
# 여러값을 return
def swap(a, b):
    return b, a

In [51]:
x, y = 5, 10
print("함수 실행 전 x={}, y={}".format(x, y))
x, y = swap(x, y)
print("함수 실행 후 x={}, y={}".format(x, y))

함수 실행 전 x=5, y=10
함수 실행 후 x=10, y=5

# 3절. 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [75]:
def make_url(ip, port=80):
    # 순서인수, 기본값을 갖는 인수(키워드인수 아님) 순으로 
    return "http://{}:{}".format(ip, port)

In [76]:
print(make_url("localhost"))
print(make_url("localhost",8090))
print(make_url("localhost",port=8090))
print(make_url(port=8090, ip="localhost"))

http://localhost:80
http://localhost:8090
http://localhost:8090
http://localhost:8090

## 3.2 튜플 매개변수로 이용한 가변인수(인수갯수가 가변) 설정

In [60]:
print( 'Hello', 'world' ) # 인수의 갯수가 가변 = 가변인수

Hello world

In [66]:
# args앞에 * : args가 튜플로 전달 : 튜플매개변수
def add(*args):
    # print("전달받은 args :", args)
    # print(type(args))
    sum = 0
    for num in args:
        sum += num;
    return sum

In [69]:
print(add( 1,2,3,4,5,6 ))
print(add( 1))
print(add( 1,2 ))

21
1
3

In [70]:
def concat(*args, sep):
    return sep.join(args)

In [71]:
concat("C","Python","Oracle","~")

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [72]:
# 해결책1
concat("C","Python","Oracle",sep="~")

'C~Python~Oracle'

In [73]:
# 해결책2(강추)
def concat(sep, *args): # 순서인수 > 튜플인수
    return sep.join(args)

In [74]:
concat("~", "C","Python","Oracle")

'C~Python~Oracle'

In [77]:
# 해결책3(강추)
def concat(*args, sep="/"): # 순서 : 순서인수 > 튜플인수 > 키워드인수 (★)
    return sep.join(args)

In [78]:
concat("C","Python","Oracle", "~")

'C/Python/Oracle/~'

In [79]:
concat("C","Python","Oracle", sep="~")

'C~Python~Oracle'

## 3.3 딕셔너리 매개변수

In [89]:
def func(**args): # args가 딕셔너리로 전달
    # print(args)
    # print(type(args))
    for key, value in args.items():
        print("{} : {}".format(key, value))

In [90]:
dic = {"name":"홍길동","age":20}
# func(dic)
func(name="홍길동", age=20)

name : 홍길동
age : 20

In [91]:
func(gameName="서바이벌C", year=2024, price=33000)

gameName : 서바이벌C
year : 2024
price : 33000

## 3.4 함수 정의시 매개변수의 순서
- 순서인수 > 튜플인수(*) > 키워드인수(매개변수이름을 명시) > 딕셔너리인수(**)

In [92]:
def func(a, b, c, *d, e=10, **f):
    print('a =', a)
    print('b =', b)
    print('c =', c)
    print('d =', d)
    print('e =', e)
    print('f =', f)

In [93]:
func(10,20,30, 1,2,3,4,5, e=100, height=180, name="홍길동", address="서울시")

a = 10
b = 20
c = 30
d = (1, 2, 3, 4, 5)
e = 100
f = {'height': 180, 'name': '홍길동', 'address': '서울시'}

## 3.5 인수의 언패킹
### * 튜플 인수 언패킹

In [11]:
# args앞에 * : args가 튜플로 전달 : 튜플매개변수
def add(*args):
    # print("전달받은 args :", args)
    # print(type(args))
    sum = 0
    for num in args:
        sum += num;
    return sum

In [14]:
data = (1,2,3, 4, 5, 6)
add(*data)

21

### *딕셔너리 인수 언패킹

In [15]:
def func(**args): # args가 딕셔너리로 전달
    # print(args)
    # print(type(args))
    for key, value in args.items():
        print("{} : {}".format(key, value))

In [19]:
dic = {"name":"홍길동", "age":30}
func(**dic)

name : 홍길동
age : 30

# 4절. 람다식
- 람다식은 작은 익명함수를 의미함
- 실행할 문장을 한문장만 작성할 수 있음
- 리스트 컴프리헨션과 같이 참조해서 학습 추천
- ex. map(), filter()에서 사용할 예정

In [20]:
# 일반함수
def add(a, b):
    return a+b
add(3,5)

8

In [21]:
type(add)

function

In [ ]:
# 람다식
add = lambda a, b : a + b

In [22]:
add(5,5)

10

In [23]:
type(add)

function

In [25]:
(lambda a, b : a + b)(5,6)

11

## * 매개변수로 람다식 이용

In [26]:
f = lambda x : x**2
f(3)

9

In [30]:
def map_template(func, L=[]):
    result = []
    for data in L:
        result.append(func(data))
    return result

In [32]:
list_data = [1,2,3,4,5]
map_template(lambda x : x**2, list_data)

[1, 4, 9, 16, 25]

In [34]:
list(map(lambda x:x*2, list_data))

[2, 4, 6, 8, 10]

In [35]:
# 리스트 컴프리헨션이용
[x*2 for x in list_data]

[2, 4, 6, 8, 10]

In [ ]:
list_data = [1,2,3,4,5]

In [36]:
def filter_template(func, L=[]):
    result = []
    for data in L:
        if func(data):
            result.append(data)
    return result

In [37]:
filter_template(lambda x : x%2==0, list_data)

[2, 4]

In [38]:
list(filter(lambda x : x%2==0, list_data))

[2, 4]

In [39]:
# 리스트컴프리헨션 이용
[x for x in list_data if x%2==0]

[2, 4]

# 5절 파이썬 내장함수
- print처럼 import하지 않고 즉시 사용 가능한 함수

# 연습문제

In [70]:
#1. 함수의 인자로 리스트를 받은 후 리스트 내에 있는 모든 정수 값에 대한 최대값, 최소값을 튜플로 반한
def get_max_min(data_list):
    min_ = min(data_list)
    max_ = max(data_list)
    return max_, min_
get_max_min([2,4,-1])

(4, -1)

In [46]:
# 2. 로또 생성함수 make_lotto()
import random
def make_lotto():    
    lotto = set()
    while len(lotto)<6:
        lotto.add(random.randint(1, 45))
    lotto = list(lotto)
    lotto.sort()
    return lotto

In [69]:
make_lotto()

[5, 13, 15, 16, 19, 23]

In [71]:
# 3. 1단계
def game_369(l):
    result = []
    
    for data in l: # 튜플과 리스트 모두 가능
        data_str = str(data) # '13'
        datastr_list = list(data_str) # ['1','3']
        clap = ''
        for s in datastr_list:
            if int(s)!=0 and int(s)%3 == 0: #3의 배수
                clap += '짝'
        if(clap==''):
            result.append(data)
        else:
            result.append(clap)
    return result
        
print(game_369([1, 2, 3, 4, 5, 6, 13, 20, 33]))
print(game_369((1, 2, 3, 4, 5, 6, 13, 20, 33)))

[1, 2, '짝', 4, 5, '짝', '짝', 20, '짝짝']
[1, 2, '짝', 4, 5, '짝', '짝', 20, '짝짝']

In [72]:
# 3. 2단계
def game_369(*l):
    result = []
    
    for data in l:
        data_str = str(data) # '13'
        datastr_list = list(data_str) # ['1','3']
        clap = ''
        for s in datastr_list:
            if int(s)!=0 and int(s)%3 == 0: #3의 배수
                clap += '짝'
        if(clap==''):
            result.append(data)
        else:
            result.append(clap)
    return result
        
game_369(1, 2, 3, 4, 5, 6, 13, 20, 33)

[1, 2, '짝', 4, 5, '짝', '짝', 20, '짝짝']