In [23]:
# 주피터 노트북 구버전
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:97% !important;}
div.CodeMirror {font-family:Consolas; font-size:22pt;}
div.output {font-size:22pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:22pt;}
div.prompt {min-width:70px;}
</style>
"""))

In [32]:
# 주피터 노트북 새버전
from IPython.display import display, HTML
display(HTML("""
<style>
div.jp-WindowedPanel-outer.lm-Widget{padding:5px;}
div.lm-Widget{font-size:19pt;}
div.cm-content {font-family:Consolas; font-size:19pt;}
div.jp-OutputArea-output pre {font-size:19pt; font-weight:bold;}
input.jp-Stdin-input {font-family:Consolas; font-size:19pt;}
</style>
"""))

<font color="red" size="6"><b>ch09. 파일 입출력</b></font>

# 1절. 파일에 데이터를 저장하고 불러오기

In [14]:
# w : 있는 파일은 기존의 파일에 덮어쓰고 없는 파일은 생성 (쓰기 전용)
# a : 있는 파일은 추가 / 없는 파일은 생성(쓰기 전용)
# r : 읽기 전용
f = open('data/ch09.txt', 'a') # encoding 기본값 CP949
print(f.writable())

True

In [15]:
f.write('Hello\nWorld\n반갑습니다\n') # 한글은 cp949
f.write('여러번 write가능\n') # 한글은 cp949
f.close()

In [16]:
with open('data/ch09.txt', 'r') as f:
    data = f.readlines()
    print(data)

['Hello\n', 'World\n', 'Hello\n', 'Python\n', '반갑습니다\n', 'Hello\n', 'World\n', 'Hello\n', 'Python\n', '반갑습니다\n', '여러번 write가능\n', 'Hello\n', 'World\n', '반갑습니다\n', '여러번 write가능\n', 'Hello\n', 'World\n', '반갑습니다\n', '여러번 write가능\n']

In [18]:
with open('data/ch09.txt','w') as f:
    print("Python is easy\n", file=f)

In [20]:
# UTF-8로 인코딩 된 CSV파일을 read
with open('data/ch09_member1.csv', 'r', encoding="utf-8") as f:
    data = f.readlines()
    for row in data:
        print(row, end="")

홍길동,20,hong@hong.com,서울시 강동구
박길서,33,park@hong.com,서울시 강서구
박길남,23,gil@hong.com,서울시 강남구
김길북,20,kim@hong.com,서울시 강북구
신길서,40,park@hong.com,서울시 강서구
신길동,28,park@hong.com,서울시 강서동

In [34]:
import pandas as pd
member1 = pd.read_csv('data/ch09_member1.csv', header=None)
member1.columns = ['name','age','email','address']
member1

  name  age          email  address
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강서구
2  박길남   23   gil@hong.com  서울시 강남구
3  김길북   20   kim@hong.com  서울시 강북구
4  신길서   40  park@hong.com  서울시 강서구
5  신길동   28  park@hong.com  서울시 강서동

In [35]:
type(member1)

pandas.core.frame.DataFrame

In [36]:
member2 = pd.read_csv('data/ch09_member2.csv', nrows=3)
member2

  name  age          email  address
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강서구
2  박길남   23   gil@hong.com  서울시 강남구

In [37]:
member = pd.concat([member1, member2]) # 행병합
member

  name  age          email  address
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강서구
2  박길남   23   gil@hong.com  서울시 강남구
3  김길북   20   kim@hong.com  서울시 강북구
4  신길서   40  park@hong.com  서울시 강서구
5  신길동   28  park@hong.com  서울시 강서동
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강서구
2  박길남   23   gil@hong.com  서울시 강남구

In [38]:
member.to_csv('data/member.csv',index=False)