In [3]:
# 주피터 노트북 구버전
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:97% !important;}
div.CodeMirror {font-family:Consolas; font-size:22pt;}
div.output {font-size:22pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:22pt;}
div.prompt {min-width:70px;}
</style>
"""))

In [4]:
# 주피터 노트북 새버전
from IPython.display import display, HTML
display(HTML("""
<style>
div.jp-WindowedPanel-outer.lm-Widget{padding:5px;}
div.lm-Widget{font-size:19pt;}
div.cm-content {font-family:Consolas; font-size:19pt;}
div.jp-OutputArea-output pre {font-size:19pt; font-weight:bold;}
input.jp-Stdin-input {font-family:Consolas; font-size:19pt;}
td,th{font-size:17pt;padding:0}
</style>
"""))

<font size="8" color="red"><b>ch10. Pandas (데이터프레임, 시리즈)</b></font>
- pip install pandas (cmd창에서 실행)

# 1절. 판다스 패키지
- 데이터 분석을 위한 반드시 알아야 할 패키지. 넘파이를 기반으로 하며, 다른 라이브러리와 잘 통합되어 설계
- 1차원 구조를 갖는 시리즈, 2차원 구조를 갖는 데이터프레임을 제공
- 결측치처리, 크기변경(열삭제/추가, 행삭제/추가), 데이터정렬, 데이터분할/병합, 통계처리, 부분데이터추출, 파일입출력, 레이블링, 시각화용이, ....

In [5]:
import pandas as pd
pd.__version__

'2.1.4'

In [6]:
data = pd.read_json('data/ch10_member1.json', encoding="CP949") # 디폴트가 UTF-8
print(type(data))
data

<class 'pandas.core.frame.DataFrame'>

  name  age          email address
0  홍길동   20  hong@hong.com      서울
1  김김김   25   kim@hong.com      경기
2  박길동   30  park@hong.com      제주

In [9]:
data = pd.read_json('data/ch10_member2.json') # UTF-8로 read
data

  name  age          email address
0  홍길동   20  hong@hong.com      서울
1  김김김   25   kim@hong.com      경기
2  박길동   30  park@hong.com      제주

In [10]:
member1 = pd.read_csv('data/ch09_member1.csv', header=None,
                     names=['name','age','email','address'],
                     encoding="utf-8") # encoding="utf-8" 기본값이라 생략가능
member1

  name  age          email  address
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강서구
2  박길남   23   gil@hong.com  서울시 강남구
3  김길북   20   kim@hong.com  서울시 강북구
4  신길서   40  park@hong.com  서울시 강서구
5  신길동   28  park@hong.com  서울시 강서동